.keyboard {
  max-width: 500px;
  user-select: none;
  border-radius: 5px;
}

@media only screen and (max-width: 969px) {
  .keyboard {
    width: 100%;
    padding: 0 10px 0 0;
  }
}


.keyboard .row{
  display: flex;
  width: 100%;
  margin: 8px;
  /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
  touch-action: manipulation;
}

.keyboard .button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: var(--square-color);
  color: var(--letter-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition-property: background-color;
  transition-delay: 1s;
  transition-duration: 1s;
}

.keyboard .correct {
  background: var(--correct-letter);
}

.keyboard .misplaced {
  background: var(--misplaced-letter);
}

.keyboard .wrong {
  background: var(--wrong-letter);
}
