@keyframes slideLeft {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
  
@keyframes slideRight {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes slideUp {
  0%   { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes slideDown {
  0%   { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.transitionLeft {
  animation: slideLeft 150ms linear;
}

.transitionRight {
  animation: slideRight 150ms linear;
}

.transitionUp {
  animation: slideUp 150ms linear;
}

.transitionDown {
  animation: slideDown 150ms linear;
}
