.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    height: 25px;
    align-items: baseline;
    column-gap: 8px;
}