:root {
  --header-background: #04FBBB;
  --header-border-color: #FFFFFF;
  --shadow: #028666;
  --highlight: #303030;
  --body-background-color: #F0F0F0;
  --body-color: #393939;
  --btn-highlight: #BFBCC0;
  --a-color: #028666;
  --square-color: #FFFFFF;
  --progress-back: #BFBCC0;

  --logo-width: clamp(10px, 10vw, 100px);
}

:root .dark {
  --header-background: #4A3A84;
  --header-border-color: #303030;
  --shadow: #465e85;
  --highlight: #FFFFFF;
  --body-background-color: #393939;
  --btn-highlight: #6f6f6f;
  --body-color: #FFFFFF;
  --a-color: #FFFF00;
  --square-color: #465e85;
  --progress-back: #465e85;
}

@media only screen and (max-width: 970px) {
  :root {
    --logo-width: 6vmin;
  }

  .only-desktop {
    visibility: hidden;
  }
}

@media only screen and (min-width: 969px) {
  .only-mobile {
    visibility: hidden;
  }
}

mobile-norefresh {
  touch-action: pan-down;
}