@media only screen and (max-width: 900px) {
  :root {
    --logo-width: 6vmin;
  }

  .only-desktop {
    visibility: hidden;
  }
}

@media only screen and (min-width: 901px) {
  .only-mobile {
    visibility: hidden;
  }
}

mobile-norefresh {
  touch-action: pan-down;
}