.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: var(--header-background);

    border-bottom: 3px solid var(--header-border-color);
    padding: 20px;

    z-index: 10;
}

/* Mobile only */
@media only screen and (max-width: 969px) {
    .navbar {
        padding: 5px;
        max-height: calc(8vh - 5px);
    }
}

/* Links */
nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

nav .link {
margin: auto;
text-transform: uppercase;
font-weight: 700;
}

nav a {
opacity: 1;
position: relative;
}

nav a:hover {
color: var(--highlight);
}
  
nav a::before, a::after {
    display: block;

    content: '';
    height: 5px;
    background: var(--highlight);
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a::before {
    top: -6px;
}

nav a:hover::after, a:hover::before  {
    transform: scale(1,1);
}
