.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  
    background-color: var(--header-background);
    font-size: calc(10px + 2vmin);

    border-bottom: 3px solid var(--header-border-color);
}

/* Logo */
.logo {
    position: relative;
    width: var(--logo-width);
}

.logo img {
    width: calc(var(--logo-width) - (2 * 3px));
    border: 3px solid var(--header-border-color);
    border-radius: 50%;
    box-sizing: content-box;

    position: absolute;
    top: calc(20px + 20px - (var(--logo-width) / 2)); /* navbar's padding, plus half of navbar's height, minus half the image's heigh */
}

/* Switch component */
.switch {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--shadow);
    position: relative;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 5px;
    left: 5px;
    box-shadow: 
        inset 4px 4px 4px #FFFFFF,
        inset -4px -4px 4px #BFBCC0E6;
    transition: 0.3s;
    z-index: 1;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 0 0 #FFFFFF;
    position: absolute;
    top: 5px;
    left: 45px;
}

/* Links */
nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

nav .link {
margin: auto;
text-transform: uppercase;
font-weight: 700;
}

nav a {
opacity: 1;
position: relative;
}

nav a:hover {
color: var(--highlight);
}
  
nav a::before, a::after {
    display: block;

    content: '';
    height: 5px;
    background: var(--highlight);
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

nav a::before {
    top: -6px;
}

nav a:hover::after, a:hover::before  {
    transform: scale(1,1);
}
