/* Switch component for mobile */
.switch {
    width: var(--logo-width);
    height: var(--logo-width);
    border-radius: 50%;
    background-color: var(--shadow);
    position: relative;
}

.moon {
    width: var(--logo-width);
    height: var(--logo-width);

    transform: scaleX(-1);

    position: absolute;

    color: white;
}

.sun {
    visibility: hidden;
    color: var(--a-color);
}

/* Desktop only */
@media only screen and (min-width: 970px) {
    /* Switch component */
    .switch {
        width: 80px;
        height: 40px;
        border-radius: 20px;
        background-color: var(--shadow);
        position: relative;
    }

    .flicker {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #FFFFFF;
        position: absolute;
        top: 5px;
        left: 5px;
        box-shadow: 
            inset 4px 4px 4px #FFFFFF,
            inset -4px -4px 4px #BFBCC0E6;
        transition: 0.3s;
        z-index: 1;
    }

    .moon {
        width: 30px;
        height: 30px;

        position: absolute;
        top: 5px;
        left: 45px;
    }

    /* Dark mode */
    .dark .flicker {
        transform: translateX(40px);
    }
}

/* Mobile only */
@media only screen and (max-width: 969px) {
    .dark .moon {
        visibility: hidden;
    }

    .dark .sun {
        visibility: inherit;
    }

    .sun {
        width: var(--logo-size);
        height: var(--logo-size);

        visibility: hidden;
        position: absolute;
    }
}